
body{
	background-color:#ffefd5;
}

#content{
	padding-top: 100px;
	padding-down: 200 px;
	padding-right: 500px;
	float:left;
	width: 59%;
	height: 100%;
}

#tables{
    position: absolute;
    bottom: -650px;
    left: 400px;
}

#button {
 	background-color: #d2b48c;
  	border: none;
  	padding: 5px 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#image{
	padding-top: 80px;
	float:right;
	height: 100%;
	width: 39%;
	border: none;
}

#impressum{
	position:fixed;
	bottom:0;
	width:100%;
	background-color:#d2b48c;
}

caption
{
	font-weight: bold;
}

table
{
	display: inline-block;
	margin-right: 50px;
	border-collapse: collapse;
	
}

th,td
{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	align:center;
	
}

.inputStyle
{
	background: #d2b48c;
	width: 15%;
	height: 30px;
	padding-left: 10px;
	
}