@charset "UTF-8";

html {
	font-family: Calibri;
}

body{
    background-color:#ffefd5;
    display: flex;
	flex-direction: column;
}

/*Content Style*/
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -13em;
    margin-left: -15em;
    padding-bottom: 40px;
}

/*Button Style*/
.button {
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #d2b48c;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: 40px;
    font-weight: bold;
    width: 500px;
}
.button:hover {
    background: #cd9546;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 10px -10px rgb(212, 163, 100);
    -moz-box-shadow: 0 0px 10px -10px rgba(212, 163, 100, 100);
    box-shadow: 0px 10px 10px rgba(212, 163, 100, 100);
    transition: all 0.4s ease 0s;
}

/*Setting Button*/
.settingBt{

}

/*header*/
#title{
    position: fixed;
    top: 0;
    margin-left: -8px;
    width:100%;
    height: 150px;
    background-color:#d2b48c;
    text-align: center;
    vertical-align: center;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 20px;
    margin-top: -38px;
}

/*footer*/
footer {
    position: fixed;
    background-color: #d2b48c;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    margin-right: -100px;
    height: 25px;
}
.footer-buttons {
    color: BLACK;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.footer-buttons:hover {
    background-color: #cd9546 ; /* #d4a364*/
    color: black;
}
@media screen and (max-width: 500px) {
    .footer-buttons {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-buttons {
        float: none;
    }
}
